* {
    box-sizing: border-box;
    line-height: 1;
    overflow: auto;
}

body {
    background-color: #2c2c2c;
    font-family: sans-serif;
    margin: 0;
}

h3 {
    color: white;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #cecece;
    padding: 10px;
    height: 70px;
    width: 100vw;
}

.topnav .active {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.active:hover{
    background-color: rgb(252, 162, 98);
    color: rgb(19, 18, 18);
}

.topnav .search-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    border: 1px solid #0f0e0e;
    margin-right: 40px;
}
.topnav .search-container form input{
    font: 15px system-ui;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding-left:10px;
    padding-right: 10px;
    background: none;
    border: none;
}
.topnav .search-container form input:focus{
    outline: none;
}

/*------------------------ Grid and grid item stylings ------------------------*/
.movie-list{
    display: grid;
    width: 100vw;
    height: calc(100vh - 70px);
    grid-template-rows: repeat(auto-fit, minmax(445px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    justify-items: center;
    align-items: center;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #160303;
    border-radius: 19px;
    height: 445px;
    width: 290px;
    padding: 20px;
}

.thumbnail {
    width: 250px;
    height: 375px;
    border-radius: 19px;
}